<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magefast_ImportBundleProductType>
            <version>1.0.1</version>
        </Magefast_ImportBundleProductType>
    </modules>
    <global>
    	<models>
	   		<importbundleproducttype>
				<class>Magefast_ImportBundleProductType_Model</class>
			</importbundleproducttype>		
        </models>
        <importexport>
            <import_product_types>
                <bundle>importbundleproducttype/import_entity_product_type_bundle</bundle>
            </import_product_types>
        </importexport>
	</global>
</config>
